
    @{
        Layout = "_Admin_Layout";
    }
    <style>
        .table-content {
            padding: 15px;
            background: var(--bs-app-header-base-bg-color);
            border-radius: 8px;
        }
    
        table thead tr th {
            white-space: nowrap;
        }
    </style>
    <div id="kt_app_content" class="app-content  flex-column-fluid ">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container  container-fluid ">
            <!--begin::Row-->
            <div class="table-content">
                <!--begin::Col-->
                <!--begin::Wrapper-->
                <div class="d-flex flex-stack mb-5">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1">
                        <i class="ki-duotone ki-magnifier fs-1 position-absolute ms-6"><span class="path1"></span><span class="path2"></span></i>
                        <input type="search" data-kt-docs-table-filter="search" class="form-control form-control-solid w-250px ps-15" id="search-input" placeholder="Tìm kiếm" />
                    </div>
                    <!--end::Search-->
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-docs-table-toolbar="base">
                        <!--begin::Filter-->
                        <button type="button" class="btn btn-light-primary me-3" data-bs-toggle="tooltip" title="Coming Soon">
                            <i class="ki-duotone ki-filter fs-2"><span class="path1"></span><span class="path2"></span></i>
                            Bộ lọc
                        </button>
                        <!--end::Filter-->
                        <!--begin::Add customer-->
                        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" title="Tạo mới" onclick="editItem(0)">
                            <i class="ki-duotone ki-plus fs-2"></i>
                            Tạo mới
                        </button>
                        <!--end::Add customer-->
                    </div>
                    <!--end::Toolbar-->
                    <!--begin::Group actions-->
                    <div class="d-flex justify-content-end align-items-center d-none" data-kt-docs-table-toolbar="selected">
                        <div class="fw-bold me-5">
                            <span class="me-2" data-kt-docs-table-select="selected_count"></span> Selected
                        </div>
    
                        <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" title="Coming Soon">
                            Selection Action
                        </button>
                    </div>
                    <!--end::Group actions-->
                </div>
                <!--end::Wrapper-->
                <!--begin::Datatable-->
                <table id="tableData" class="table table-hover table-rounded table-row-bordered gy-3 gs-3">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800">
                            <th>STT</th>
                            <th>Mã</th><th>Tên</th><th>Ngày tạo</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr class="fs-6">
                            <th></th>
                            <th><input type="text" class="form-control tableheaderFillter" /></th><th><input type="text" class="form-control tableheaderFillter" /></th>
            <th>
                <div class="input-group" id="filterCreatedTime" data-td-target-input="nearest" data-td-target-toggle="nearest">
                    <input id="filterCreatedTime_input" readonly type="text" class="form-control tableheaderFillter" data-td-target="#filterCreatedTime" />
                    <span class="input-group-text" title="Chọn" id="open-flatpickr" data-td-target="#filterCreatedTime">
                        <i class="ki-duotone ki-calendar fs-2"><span class="path1"></span><span class="path2"></span></i>
                    </span>
                    <span class="input-group-text" id="clear-flatpickr" title="Xóa" data-clear="true" data-target="filterCreatedTime">
                        <i class="ki-duotone ki-calendar-remove fs-2"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i><i class="path5"></i><i class="path6"></i></i>
                    </span>
                </div>
            </th>
            
                            <th class="text-center">
                                <div class="search-control">
                                    <button class="btn btn-primary form-control mb-1" title="Tìm kiếm" id="btnTableSearch">
                                        <span class="svg-icon svg-icon svg-icon-1 svg_search_2 m-0">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M21.7 18.9L18.6 15.8C17.9 16.9 16.9 17.9 15.8 18.6L18.9 21.7C19.3 22.1 19.9 22.1 20.3 21.7L21.7 20.3C22.1 19.9 22.1 19.3 21.7 18.9Z" fill="currentColor"></path>
                                                <path opacity="0.3" d="M11 20C6 20 2 16 2 11C2 6 6 2 11 2C16 2 20 6 20 11C20 16 16 20 11 20ZM11 4C7.1 4 4 7.1 4 11C4 14.9 7.1 18 11 18C14.9 18 18 14.9 18 11C18 7.1 14.9 4 11 4ZM8 11C8 9.3 9.3 8 11 8C11.6 8 12 7.6 12 7C12 6.4 11.6 6 11 6C8.2 6 6 8.2 6 11C6 11.6 6.4 12 7 12C7.6 12 8 11.6 8 11Z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </button>
                                    <button class="btn btn-secondary form-control" title="Reset" id="btnTableResetSearch">
                                        <span class="svg-icon svg-icon svg-icon-1 svg_cancel m-0">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="9.39844" y="20.7144" width="16" height="2.66667" rx="1.33333" transform="rotate(-45 9.39844 20.7144)" fill="currentColor"></rect>
                                                <rect x="11.2852" y="9.40039" width="16" height="2.66667" rx="1.33333" transform="rotate(45 11.2852 9.40039)" fill="currentColor"></rect>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr class="border-top fw-bold fs-6 text-gray-800">
                           
                        </tr>
                    </tfoot>
                </table>
                <!--end::Datatable-->
                <div class="modal fade" id="modal-id">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Modal title</h3>
    
                                <!--begin::Close-->
                                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                                </div>
                                <!--end::Close-->
                            </div>
                            <div class="modal-body">
                                <form action="#">
                                    <div class="row">
                                        
            <div class="col-sm-6">                        
                <div class="form-group">
                    <div class="input-group input-group-solid mb-5">
                        <span class="input-group-text" id="basic-addon-id">Mã</span>
                        <input readonly type="number" autocomplete="off" class="form-control input-id" id="orderType-id" placeholder="id" aria-label="id" aria-describedby="basic-addon-id"/>
                    </div>
                </div>   
            </div>
            
            <div class="col-sm-6" style="display:none;">                        
                <div class="form-group">
                    <div class="input-group input-group-solid mb-5">
                        <span class="input-group-text" id="basic-addon-active">Kích hoạt</span>
                        <input readonly type="number" autocomplete="off" class="form-control input-active" id="orderType-active" placeholder="active" aria-label="active" aria-describedby="basic-addon-active"/>
                    </div>
                </div>   
            </div>
            
                <div class="col-sm-6">                        
                    <div class="form-group">
                        <div class="input-group input-group-solid mb-5">
                            <span class="input-group-text required" id="basic-addon-name">Tên</span>
                            <input type="text" required autocomplete="off" class="form-control input-name" id="orderType-name" placeholder="name" aria-label="name" aria-describedby="basic-addon-name"/>
                        </div>
                    </div>   
                </div>
                
            <div class="col-sm-6">              
                <div class="form-group">
                    <div class="input-group input-group-solid mb-5">
                        <span class="input-group-text  " id="basic-addon-description">Mô tả</span>
                        <textarea   class="form-control  input-description " rows="2" id="orderType-description" aria-label="description" aria-describedby="basic-addon-description"></textarea>
                    </div>
                </div>   
            </div>
            
            <div class="col-sm-6">                           
                <div class='form-group'>
                    <div class="input-group input-group-solid mb-5">
                        <span class="input-group-text" id="basic-addon-createdTime">Ngày tạo</span>
                        <div class='form-control date datetimepicker  input-createdTime' id='orderType-createdTimeDiv' style='padding:0px;'>
                            <input type='text' autocomplete="off" id="orderType-createdTime" required class="form-control datepicker" aria-label="createdTime" aria-describedby="basic-addon-createdTime" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
                                    </div>
                                   
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-bs-dismiss="modal">
                                    Đóng
                                </button>
                                <button type="button" class="btn btn-primary" id="btnUpdateItem">
                                <span class="indicator-label">
                                    Cập nhật
                                </span>
                                <span class="indicator-progress">
                                    Đang tải... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Col-->
            </div>
        </div>
        <!--end::Content container-->
    </div>
    <!--begin:Base load data-->
    <script>
        var showItem = ['id','name','createdTime'];
        var dataSource = [];
        var updatingItemId = 0;
        var editObj;
        var tableUpdating = 0;
        var table;
        const submitButton = document.getElementById('btnUpdateItem');
        submitButton.addEventListener('click', function (e) {
            e.preventDefault();
            submitButton.setAttribute('data-kt-indicator', 'on');
            // Disable button to avoid multiple click
            submitButton.disabled = true;
            // Simulate form submission. For more info check the plugin's official documentation: https://sweetalert2.github.io/
            updateItem(updatingItemId);
        });
        $('#search-input').on("input",function () {
            table.search($(this).val()).draw();
        });
        $(document).ready(function () {
            // Load data
            loadData();
    
            // Datetime picker
            document.querySelectorAll(".datepicker").forEach(function (item) {
                new tempusDominus.TempusDominus(item, datePickerOption);
            })
            $(".datepicker").on('dp.change', function (e) {
                // console.log(this.value);
                this.value = moment(this.value).format("YYYY-MM-DD HH:mm:ss");
                // console.log(this.value);
            });
            //Flat pickr format
            $("#filterCreatedTime_input").flatpickr({
                dateFormat: "d/m/Y",
                mode: "range",
            });
            $("#open-flatpickr").click(function () {
                $("#filterCreatedTime_input").click();
            });
            $("#clear-flatpickr").click(function () {
                $("#filterCreatedTime_input").val("");
            });
            
            $('.dataSelect').select2();
    
           
            $("#btnTableSearch").click(function () {
                tableSearch();
            });
    
            $("#tableData thead:nth-child(2) tr th input").keypress(function (e) {
                let key = e.which;
                if (key == 13) {
                    $("#btnTableSearch").click();
                }
            });
            $("#btnTableResetSearch").click(function () {
                $(".tableheaderFillter").val("").trigger("change");
                tableSearch();
            });
        });
        function loadData() {
            initTable();
        }
        function initTable() {
            table = $('#tableData').DataTable({
                processing: true,
                serverSide: true,
                paging: true,
                searching: { regex: true },
                order: [1, 'desc'],
                "oLanguage": {
                    "sUrl": "/js/Vietnamese.json"
                },
                ajax: {
                    url: systemURL + "orderType/api/list-server-side",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: function (d) {
                        d.searchAll = $("#search-input").val();
                        
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    {
                        data: 'id',
                        render: function (data, type, row, meta) {
                            var info = table.page.info();
                            var stt = meta.row + 1 + info.page * info.length;
                            return stt; // This contains the row index
                        }
                    },
                    
                        {
                            data: "id",
                            render: function (data, type, row, meta) {
                                return "<span id='row" + row.id + "-column-id'>" + data + "<span>";
                            },
                        },
                        
                        {
                            data: "name",
                            render: function (data, type, row, meta) {
                                return "<span id='row" + row.id + "-column-id'>" + data + "<span>";
                            },
                        },
                        
                {
                    data: "createdTime",
                    render: function (data) {
                        var tempDate = new Date(data);
                        var displayValue = moment(data).format("DD/MM/YYYY HH:mm:ss");
                        return displayValue;
                    }
                },
            
                    {
                        data: 'id',
                        render: function (data, type, row, meta) {
                            return "<div class='d-flex justify-content-center gap-2'>"
                                + "<a title='Cập nhật' onclick='editItem(" + row.id + ")' class='me-2 btn_manage'><span class='svg-icon-success svg-icon  svg-icon-1 svg_teh009'><span class='svg-icon-primary svg-icon  svg-icon-1'> <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path opacity='0.3' fill-rule='evenodd' clip-rule='evenodd' d='M2 4.63158C2 3.1782 3.1782 2 4.63158 2H13.47C14.0155 2 14.278 2.66919 13.8778 3.04006L12.4556 4.35821C11.9009 4.87228 11.1726 5.15789 10.4163 5.15789H7.1579C6.05333 5.15789 5.15789 6.05333 5.15789 7.1579V16.8421C5.15789 17.9467 6.05333 18.8421 7.1579 18.8421H16.8421C17.9467 18.8421 18.8421 17.9467 18.8421 16.8421V13.7518C18.8421 12.927 19.1817 12.1387 19.7809 11.572L20.9878 10.4308C21.3703 10.0691 22 10.3403 22 10.8668V19.3684C22 20.8218 20.8218 22 19.3684 22H4.63158C3.1782 22 2 20.8218 2 19.3684V4.63158Z' fill='currentColor'></path><path d='M10.9256 11.1882C10.5351 10.7977 10.5351 10.1645 10.9256 9.77397L18.0669 2.6327C18.8479 1.85165 20.1143 1.85165 20.8953 2.6327L21.3665 3.10391C22.1476 3.88496 22.1476 5.15129 21.3665 5.93234L14.2252 13.0736C13.8347 13.4641 13.2016 13.4641 12.811 13.0736L10.9256 11.1882Z' fill='currentColor'></path><path d='M8.82343 12.0064L8.08852 14.3348C7.8655 15.0414 8.46151 15.7366 9.19388 15.6242L11.8974 15.2092C12.4642 15.1222 12.6916 14.4278 12.2861 14.0223L9.98595 11.7221C9.61452 11.3507 8.98154 11.5055 8.82343 12.0064Z' fill='currentColor'></path></svg></span></span></a>"
                                + "<a title='Cập nhật' onclick='deleteItem(" + row.id + ")' class='me-2 btn_manage'><span class='svg-icon-success svg-icon  svg-icon-1 svg_teh009'><span class='svg-icon-danger svg-icon  svg-icon-1'><svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z' fill='currentColor'></path><path opacity='0.5' d='M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z' fill='currentColor'></path><path opacity='0.5' d='M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z' fill='currentColor'></path></svg></span></a>"
                        }
                    },
    
                ],
                columnDefs: [
                    { targets: "no-sort", orderable: false },
                    { targets: "no-search", searchable: false },
                    { orderable: false, targets: [-1, 0] },
                ],
                aLengthMenu: [
                    [10, 25, 50, 100],
                    [10, 25, 50, 100]
                ],
                drawCallback: function () {
                    $('#tableData tfoot').html("");
                    $("#tableData thead:nth-child(1) tr").clone(true).appendTo("#tableData tfoot");
                    $('#tableData tfoot tr').addClass("border-top");
                }
            });
        }
        async function editItem(id) {
            updatingItemId = id;
            $("#modal-id").modal('show');
            if(id > 0) {
                editObj = await getItemById(id);
            }
            $("#orderType-id").val(id > 0 ? editObj.id : "0");
$("#orderType-active").val(id > 0 ? editObj.active : "");
$("#orderType-name").val(id > 0 ? editObj.name : "");
$("#orderType-description").val(id > 0 ? editObj.description : "");
$("#orderType-createdTime").val(id > 0 ? moment(editObj.createdTime).format("DD/MM/YYYY HH:mm:ss") : moment(new Date()).format("DD/MM/YYYY HH:mm:ss"));

            formatNumber();
        }
        async function updateItem(id) {
            var actionName = (id == 0 ? "Bạn muốn tạo mới" : "Cập nhật");
            var obj;
            if(id > 0) {
                obj = await getItemById(id);
            }
            let objName = id > 0 ? obj.name : "item";
            validateInputNumber();
            var updatingObj = {
                "id": $("#orderType-id").val(),
"active": $("#orderType-active").val(),
"name": $("#orderType-name").val(),
"description": $("#orderType-description").val(),
"createdTime": formatDatetimeUpdate($("#orderType-createdTime").val()),

            };
            Swal.fire({
                title: 'Xác nhận thay đổi?',
                text: "" + actionName + " " + objName + "",
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#443',
                confirmButtonText: 'Xác nhận',
                cancelButtonText: 'Huỷ'
            }).then((result) => {
                if (result.value) {
                    $("#modal-id").modal('hide');
                    //CALL AJAX TO UPDATE
                    if (id > 0) {
                        $.ajax({
                            url: systemURL + "orderType/api/update",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(updatingObj),
                            success: function (responseData) {
                                // debugger;
                                if (responseData.status == 200 && responseData.message === "SUCCESS") {
                                    Swal.fire(
                                        'Thành Công!',
                                        'Đã cập nhật "' + objName + '" ',
                                        'success'
                                    );
                                    reGenTable();
                                    // Remove loading indication
                                    submitButton.removeAttribute('data-kt-indicator');
                                    // Enable button
                                    submitButton.disabled = false;
                                }
                            },
                            error: function (e) {
                                //console.log(e.message);
                                Swal.fire(
                                    'Lỗi!',
                                    'Đã xảy ra lỗi, vui lòng thử lại',
                                    'error'
                                );
                                // Remove loading indication
                                submitButton.removeAttribute('data-kt-indicator');
                                // Enable button
                                submitButton.disabled = false;
                            }
                        });
                    };
                    //CALL AJAX TO CREATE
                    if (id == 0) {
                        updatingObj.id = 1;
                        delete updatingObj["id"]
                        updatingObj.active = 1;
                        updatingObj.createdTime = new Date();
                        console.log(updatingObj);
                        $.ajax({
                            url: systemURL + "orderType/api/add",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(updatingObj),
                            success: function (responseData) {
                                // debugger;
                                if (responseData.status == 201 && responseData.message === "CREATED") {
                                    Swal.fire(
                                        'Thành công!',
                                        'Đã cập nhật dữ liệu',
                                        'success'
                                    );
                                    updatingObj = responseData.data;
                                    reGenTable();
                                    // Remove loading indication
                                    submitButton.removeAttribute('data-kt-indicator');
                                    // Enable button
                                    submitButton.disabled = false;
                                }
                            },
                            error: function (e) {
                                //console.log(e.message);
                                Swal.fire(
                                    'Lỗi!',
                                    'Đã xảy ra lỗi, vui lòng thử lại',
                                    'error'
                                );
                                // Remove loading indication
                                submitButton.removeAttribute('data-kt-indicator');
                                // Enable button
                                submitButton.disabled = false;
                            }
                        });
                    }
                }
                else {
                    // Remove loading indication
                    submitButton.removeAttribute('data-kt-indicator');
                    // Enable button
                    submitButton.disabled = false;
                }
            })
        }
        async function deleteItem(id) {
            updatingObj = table.ajax.json().data.find(c => c.id == id);
            let objName = id > 0 ? updatingObj.name : "item";
            Swal.fire({
                title: 'Xác nhận thay đổi?',
                text: "Xóa " + objName + "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Xoá',
                cancelButtonText: 'Huỷ'
            }).then((result) => {
                if (result.value) {
                    //CALL AJAX TO DELETE
                    $.ajax({
                        url: systemURL + "orderType/api/delete",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ "id": id }),
                        success: function (responseData) {
                            // debugger;
                            if (responseData.status == 200 && responseData.message === "SUCCESS") {
                                Swal.fire(
                                    'Thành công!',
                                    'Đã xoá ' + updatingObj.name + '.',
                                    'success'
                                );
                                reGenTable();
                            }
                        },
                        error: function (e) {
                            //console.log(e.message);
                            Swal.fire(
                                'Lỗi!',
                                'Đã xảy ra lỗi, vui lòng thử lại',
                                'error'
                            );
                        }
                    });
    
                }
                else {
                    // Remove loading indication
                    submitButton.removeAttribute('data-kt-indicator');
                    // Enable button
                    submitButton.disabled = false;
                }
            })
        }
        async function getItemById(id) {
            var data;
            await $.ajax({
                url: systemURL + "orderType/api/detail/" + id,
                method: "GET",
                success: function (responseData) {
                    data = responseData.data[0];
                },
                error: function (e) {
                },
            });
            return data;
        }
        function reGenTable() {
            tableUpdating = 0;
            table.destroy();
            $(".tableHeaderFilter").val(null).trigger("change");
            $("#tableData tbody").html('');
            loadData();
        }
    </script>
    <!--end:Base load data-->
    <!--begin:setting in data table-->
    <script>
        function tableSearch() {
            table.column(1).search($("#tableData thead:nth-child(2) tr th:nth-child(2) input").val());
table.column(2).search($("#tableData thead:nth-child(2) tr th:nth-child(3) input").val());
table.column(3).search($("#tableData thead:nth-child(2) tr th:nth-child(4) input").val());

            table.draw();
        }
    </script>
    <!--end:setting in data table-->
    
    